body{
    background-color: #d9ddd7;
    font-family: Verdana, sans-serif;
}

p{
    background-color: #6a7689;
    color: white;
    padding: 20px;
}

header{
    color: #21ce38;
}

.highlight{
    color: yellow;
    border: 2px solid yellow;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}

#link{
    color: white;

}

#link:hover{
    color: #6df469;
}
